body {
  margin: 0;
  padding: 0;
}



.sidenav {
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2e2f43;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.35s;
}

/* ON HOVER */
.sidenav:hover{
   width: 250px;
}

.sidenav:hover .delay01{
  opacity: 1;
  top: 8.5rem;
  opacity: 1;
  transition: all 1s ease-out;
  -ms-transform: translate(0px); /* IE 9 */
  -webkit-transform: translate(0px); /* Safari */
  transform: translate(0px);
}

.sidenav:hover .delay02{
  opacity: 1;
  top: 8.5rem;
  opacity: 1;
  transition: all 1s ease-out 0.1s;
  -ms-transform: translate(0px); /* IE 9 */
  -webkit-transform: translate(0px); /* Safari */
  transform: translate(0px);
}

.sidenav:hover .delay03{
  opacity: 1;
  top: 8.5rem;
  opacity: 1;
  transition: all 1s ease-out 0.2s;
  -ms-transform: translate(0px); /* IE 9 */
  -webkit-transform: translate(0px); /* Safari */
  transform: translate(0px);
}

.sidenav:hover .delay04{
  opacity: 1;
  top: 8.5rem;
  opacity: 1;
  transition: all 1s ease-out 0.3s;
  -ms-transform: translate(0px); /* IE 9 */
  -webkit-transform: translate(0px); /* Safari */
  transform: translate(0px);
}

.sidenav:hover .delay05{
  opacity: 1;
  top: 8.5rem;
  opacity: 1;
  transition: all 1s ease-out 0.4s;
  -ms-transform: translate(0px); /* IE 9 */
  -webkit-transform: translate(0px); /* Safari */
  transform: translate(0px);
}

/* The navigation menu links */
.sidenav a {
    overflow: visible;
    text-align: right;
    padding: 40px 50px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    display: block;
    transition: all 0.1s ease-out;
    opacity: 0;
    -ms-transform: translate(-100px); /* IE 9 */
    -webkit-transform: translate(-100px); /* Safari */
    transform: translate(-100px);
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
    opacity: 0;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

.fadein-text {
  position: absolute;
  top: 8.5rem;
  opacity: 0;
  animation-name: rightFadeInOut;
  animation-delay: 3s;
  animation-duration: 6s;
}

.socialMedia {
  height : 50px;
  width : 250px;
  position: absolute;
  top: 0px;
  right : 0px;
}

.socialMedia img {
  padding: 5px;

  /*Transition*/
 -webkit-transition: all 0.5s ease;
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
 
 /*Reflection*/
 -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
}

.socialMedia img:hover {
  opacity: 1;
   
   /*Reflection*/
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
 
   /*Glow*/
  -webkit-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  -moz-box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
  box-shadow: 0px 0px 20px rgba(255,255,255,0.8);
}

#carousel {
  /* Ensure that the contents flow horizontally */
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}

/* 2018 spec - For Safari 11, Chrome 69+ */
#carousel.snap {
  flex-direction: column;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch; /* Needed to work on iOS Safari */
}

#carousel.snap > div {
  flex-direction: column;
  scroll-snap-type: y mandatory;
}

/* 2015 spec - For Firefox, Edge, IE */
#carousel.snap {
  scroll-snap-type: mandatory;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100%);
  -ms-scroll-snap-points-y: repeat(100%);
}

#carousel {
  position: relative;
  width: 100%;
  height: 100%;
}

#carousel > div {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-size: 20px;
}

#carousel-1 {
  height : 100%;
  margin: 0;
  padding: 0;
}

#bcg01 {
  width: 100%;
  height: 100%;
  top: 0px;
  object-fit : cover;
  padding: 0;
  margin: 0;
  object-position : top;
  position: absolute;
}

#bcg02 {
  width: 100%;
  height: 100%;
  top: 0px;
  object-fit : cover;
  padding: 0;
  margin: 0;
  object-position : top;
}

.accueil {
  position: absolute;
  text-align: center;
  font-size: 100px;
}

#carousel-2 {
  background-color: blue;
}

.cv {
  position: absolute;
  text-align: center;
  font-size: 100px;
}

#nom {
  text-align: left;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  font-size: 50px;
}

#carousel-3 {
  background-color: #226de2;
}

#carousel-4 {
  background-color: #226de2;
}

#carousel-5 {
  background-color: #226de2;
}

#carousel-6 {
  background-color: #226de2;
}
